version: '3.8'

services:
  pocket-id-dashboard:
    image: pocket-id-dashboard
    build: .
    ports: [ "3001:3000" ]
    env_file: [ .env ]
    environment:
      - NODE_ENV=development
    volumes:
      - ./data/docker-data:/app/data
    restart: unless-stopped
